.accordion-block {
	counter-reset: ordered-list;
	display: flex;
	flex-direction: column;
	list-style: none;
	margin: 0;
	padding: 0;
}

.accordion-block .section {
	border-bottom: 0.1rem dotted var(--c-alto);
	counter-increment: ordered-list;
	position: relative;
}

.accordion-block .section::before {
	color: var(--c-primary);
	content: "0" counter(ordered-list);
	font-family: var(--f-secondary);
	font-size: 2rem;
	font-weight: 400;
	position: absolute;
	top: 2.1rem;
}

.accordion-block .headline {
	background-image: url("../../assets/svg/plus-circle.svg");
	background-position: center right;
	background-repeat: no-repeat;
	background-size: 30px;
	color: var(--c-primary);
	font-family: var(--f-secondary);
	font-size: 2rem;
	font-weight: 400;
	margin: 0;
	padding: 2rem 3rem 2rem 4rem;

	&:hover {
		cursor: pointer;
	}
}

.accordion-block .body {
	max-height: 0;
	overflow: hidden;
	transition: 0.2s ease-in max-height;

	@media (--bp-m) {
		padding-left: 3rem;
	}
}

.accordion-block .section.-expanded .headline {
	background-image: url("../../assets/svg/minus-circle.svg");
}

.accordion-block .section.-expanded .body {
	max-height: 100vh;
}

.faq-section .accordion-block {

	@media (--bp-l) {
		width: 75%;
	}
}
