.campaign-grid {
	display: flex;
	flex-flow: column wrap;
	margin-top: 2rem;
	overflow: hidden;
	padding-top: 1rem;

	@media (--bp-m) {
		flex-flow: row wrap;
		margin-left: -1rem;
		margin-right: -1rem;
	}
}

.campaign-grid .card {
	border-top: 0.1rem dotted var(--c-alto);
	display: flex;
	flex-flow: column nowrap;
	margin: 1rem 0;

	@media (--bp-m) {
		margin: 1rem 1rem 6rem 1rem;
		width: calc(33.33% - 2rem);
	}
}

.campaign-grid .title {
	font-family: var(--f-secondary);
	font-size: 1.6rem;
	font-weight: 400;
	margin-bottom: 5rem;
	margin-top: 2.6rem;
	text-transform: uppercase;
}

.campaign-grid .thumbnail {
	margin-bottom: 1rem;

	& img {
		height: auto;
		width: 100%;
	}
}

.campaign-grid .excerpt {
	font-size: 2.2rem;
	margin-bottom: 2rem;
	margin-top: 1rem;
}

.campaign-grid .readmore {
	font-family: var(--f-secondary);
	font-size: 1.4rem;
	margin-top: auto;
	text-transform: uppercase;

	&::after {
		background-image: url("../../assets/svg/right-arrow.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 1rem;
		content: "";
		display: inline-block;
		height: 1rem;
		margin-left: 1rem;
		width: 1rem;
	}
}
