#mc_embed_signup_scroll {
	align-items: flex-end;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

#mc_embed_signup_scroll input[type="email"] {
	background: transparent;
	border-bottom: 0.1rem solid var(--c-another-gray);
	border-left: 0;
	border-right: 0;
	border-top: 0;
	display: inline-block;
	font-family: var(--f-secondary);
	font-size: 1.4rem;
	padding: 1.8rem 2rem 1.8rem 0;
	text-transform: uppercase;
	width: 60%;
}

#mc_embed_signup_scroll .clear {
	display: inline-block;
	width: 36%;
}

#mc_embed_signup_scroll .button {
	background: transparent;
	border: 0.1rem solid var(--c-another-gray);
	color: var(--c-jumbo);
	display: block;
	font-family: var(--f-secondary);
	font-size: 1.4rem;
	letter-spacing: 0.1rem;
	padding: 1.7rem 2rem;
	text-transform: uppercase;
	width: 100%;
}
