.faq-section {
	border-top: 0.1rem dotted var(--c-alto);
	margin: 1rem 0;
	padding: 1rem 0;

	@media (--bp-m) {
		display: flex;
		flex-flow: row wrap;
		padding-bottom: 8rem;
		padding-top: 0;
	}
}

.faq-section .sectiontitle {
	font-family: var(--f-secondary);
	font-size: 2rem;
	font-weight: 400;
	margin-top: 2rem;

	@media (--bp-m) {
		width: 25%;
	}
}

.post-layout .faq-section {

	@media (--bp-l) {
		margin-left: 0;
		margin-right: 0;
	}

	@media (--bp-xl) {
		margin-left: 0;
		margin-right: -33.33%;
	}
}
