.featured-event {
	display: flex;
	flex-flow: column;
	margin-left: -1.8rem;
	margin-right: -1.8rem;

	@media (--bp-m) {
		flex-flow: row wrap;
		margin: 0 0 4rem;
	}
}

.featured-event .thumbnail {
	position: relative;

	@media (--bp-m) {
		display: block;
		overflow: hidden;
		padding-top: 50%;
		width: 48%;
	}

	& img {
		display: block;
		max-width: 100%;
		min-height: 100%;
		min-width: 100%;
		object-fit: cover;
		object-position: center;
		width: auto;

		@media (--bp-m) {
			max-width: none;
			position: absolute;
			top: 0;
		}
	}
}

.featured-event .info {
	background: var(--c-onahau);
	padding: 1.8rem;

	@media (--bp-m) {
		padding: 2rem;
		width: 52%;
	}
}

.featured-event .date {
	color: var(--c-text-primary);
	display: block;
	font-family: var(--f-secondary);
	font-size: 2rem;
	margin-bottom: 1rem;

	@media (--bp-l) {
		font-size: 3.4rem;
		margin-bottom: 2rem;
	}
}

.featured-event .title {
	color: var(--c-thunder);
	font-size: 2rem;
	margin-top: 0;

	@media (--bp-l) {
		font-size: 4.4rem;
	}
}

.featured-event .location p {
	font-family: var(--f-secondary);
	font-size: 2rem;
	font-weight: 400;
	margin-bottom: 0;
	margin-top: auto;

	@media (--bp-l) {
		font-size: 2.6rem;
	}
}
