.featured-story {
	background: var(--c-onahau);
	margin-bottom: 2rem;
	margin-left: -1.8rem;
	margin-right: -1.8rem;

	@media (--bp-m) {
		display: flex;
		flex-flow: row wrap;
		margin: 0 0 4rem;
		width: 100%;
	}
}

.featured-story .thumbnail {
	height: 0;
	overflow: hidden;
	padding-top: 100%;
	position: relative;

	@media (--bp-m) {
		padding-top: 50%;
		width: 50%;
	}
}

.featured-story .thumbnail img {
	display: block;
	height: auto;
	max-width: 100%;
	min-height: 100%;
	min-width: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
}

.featured-story .title {

	@media (--bp-m) {
		font-size: 3rem;
		margin-top: 0;
	}

	@media (--bp-xl) {
		font-size: 7.6rem;
	}
}

.featured-story .info {
	background: var(--c-onahau);
	color: var(--c-thunder);
	padding: 2rem 1.8rem;

	@media (--bp-m) {
		display: flex;
		flex-direction: column;
		width: 50%;
	}

	@media (--bp-l) {
		padding: 3.8rem;
	}
}

.featured-story .byline {
	color: var(--c-another-gray);
	font-family: var(--f-headline);
	font-size: 2rem;
	margin-bottom: 0;

	@media (--bp-m) {
		margin-top: auto;
	}

	& p {
		font-size: 2rem;
	}
}

.featured-story .authoredby {
	display: block;
}

.featured-story .author + .date {
	margin-left: 2rem;

	&::before {
		content: "•";
		display: inline-block;
		font-size: 1.4rem;
		margin-left: -1.5rem;
		margin-top: 0.5rem;
		position: absolute;
	}
}
