
.file-downloads {
	border-top: 0.1rem dotted var(--c-alto);
	padding-top: 0.5rem;
}

.file-downloads .header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.file-downloads .title {
	font-family: var(--f-secondary);
	font-size: 1.6rem;
	font-weight: 400;
	margin: 1rem 1rem 1rem 0;
	text-transform: uppercase;
}

.file-downloads .externallink {
	font-weight: 700;
	margin: 1rem 0;

	&::after {
		background-image: url("../../assets/svg/right-arrow.svg");
		background-repeat: no-repeat;
		background-size: 1.6rem;
		content: "";
		display: inline-block;
		height: 1.2rem;
		margin-left: 0.5rem;
		width: 2rem;
	}
}

.file-downloads .card {

	@media (--bp-m) {
		display: block;
		padding: 1rem;
		width: 33.33%;
	}
}

.file-downloads .grid {
	display: flex;
	flex-direction: column;

	@media (--bp-m) {
		flex-flow: row wrap;
		margin-left: -1rem;
		margin-right: -1rem;
		margin-top: 3rem;
	}
}

.file-downloads .description {
	color: var(--c-thunder);
	font-size: 2.2rem;
	font-weight: 700;
}

.file-downloads .label {
	bottom: 1rem;
	color: var(--c-white);
	font-family: var(--f-secondary);
	font-size: 3.2rem;
	left: 1rem;
	margin: 0;
	position: absolute;
	right: 1rem;
	text-align: left;
	top: 1rem;

	@media (--bp-l) {
		left: 3rem;
		top: 2rem;
	}

	@media (--bp-2xl) {
		font-size: 9.6rem;
	}
}

.file-downloads .box {
	background: var(--c-primary);
	display: flex;
	padding-top: 82%;
	position: relative;
}
