/* Fixed Hero */
.fixed-hero {
	overflow: hidden;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 0;

	@media (--bp-m) {
		height: 80vh;
	}

	@media (--bp-l) {
		top: 8.2rem;
	}

	& img {
		height: auto;
		width: 100%;
	}
}

.home .fixed-hero {

	@media (--bp-l) {
		display: flex;
		top: 0;
	}
}

.fixed-hero.-short {

	@media (--bp-m) {
		height: 60rem;
		left: 0%;
		margin-bottom: 0;
		margin-left: -50vw;
		margin-right: -50vw;
		min-width: 100vw;
		position: sticky;
		right: 0%;
		width: 100vw;
		z-index: 0;
	}
}

.fixed-hero + div {
	transform: translate3d(0, 0, 0);
}

.fixed-hero .background {
	height: 70vh;
	overflow: hidden;
	position: relative;
	width: 100%;

	@media (--bp-m) {
		height: 100%;
	}

	& img {
		display: block;
		height: auto;
		max-width: 100%;
		min-height: 100%;
		min-width: 100%;
		object-fit: cover;
		object-position: center;
		position: absolute;
		top: 0;
	}
}

.fixed-hero .logo {
	left: 2rem;
	position: absolute;
	top: 2rem;

	@media (--bp-l) {
		display: none;
	}

	& img {
		width: 25rem;
	}
}

.fixed-hero .tagline {
	bottom: 4rem;
	left: 2rem;
	position: absolute;
	width: 22rem;

	@media (--bp-m) {
		width: 36rem;
	}

	@media (--bp-xl) {
		bottom: 7.2rem;
		left: 4rem;
	}
}

.fixed-hero .inner {
	height: 100%;
	left: -50%;
	margin: 0 auto;
	max-width: var(--site-max);
	position: absolute;
	right: -50%;
	top: 0;
	width: 100%;
}
