.footer-cta {
	padding: 6rem 0;
	position: relative;

	@media (--bp-l) {
		padding: 8rem 0 11rem;
	}
}

.footer-cta .headline {
	display: flex;
	flex-flow: column wrap;
	font-family: var(--f-secondary);
	font-size: 5.6rem;
	font-weight: 700;
	justify-content: space-between;
	text-decoration: none;
	width: 100%;

	@media (--bp-m) {
		flex-flow: row wrap;
	}

	@media (--bp-l) {
		font-size: 9.6rem;
	}
}

.footer-cta .icon {
	margin-top: 4rem;
	width: 6.2rem;

	@media (--bp-m) {
		margin-left: auto;
		margin-top: 0;
	}

	@media (--bp-l) {
		width: 9.2rem;
	}
}
