.footer-nav .menu {
	font-size: 1.3rem;
	list-style-type: none;
	margin: 3rem 0;
	padding: 0;
	text-transform: uppercase;

	@media (--bp-m) {
		margin-top: 0;
	}

	@media (--bp-l) {
		columns: 2;
	}
}

.footer-nav .menu a {
	display: block;
	font-family: var(--f-secondary);
	padding: 2rem 0;

	@media (--bp-l) {
		padding-right: 1rem;
	}
}
