.hero-lead {
	margin: 10rem 0 5rem;

	@media (--bp-m) {
		display: flex;
		flex-flow: row wrao;
		justify-content: space-between;
	}
}

.hero-lead .title {
	color: var(--c-primary);
	font-family: var(--f-secondary);
	font-size: 4rem;
	margin: 10rem 0;

	@media (--bp-m) {
		font-size: 5rem;
		margin-top: 0;
		width: 48%;
	}

	@media (--bp-xl) {
		font-size: 7.4rem;
		overflow-wrap: break-word;
	}

	@media (--bp-2xl) {
		font-size: 9rem;
	}
}

.summary {

	@media (--bp-m) {
		padding-left: 2rem;
		width: 52%;
	}
}

.summary p {
	font-size: 2.4rem;

	@media (--bp-m) {
		font-size: 3.2rem;
		margin-bottom: 0;
		margin-top: 1rem;
	}

	@media (--bp-l) {
		font-size: 4.4rem;
	}
}
