.highlight-statement-3col {
	margin-top: 3rem;
	padding-bottom: 7rem;
	padding-top: 2rem;

	@media (--bp-m) {
		padding-top: 0;
	}
}

.highlight-statement-3col .grid {

	@media (--bp-m) {
		display: flex;
		justify-content: space-between;
	}
}

.highlight-statement-3col .title {
	color: var(--c-thunder);
	font-family: var(--f-secondary);
	font-size: 1.6rem;
	font-weight: 400;
	text-transform: uppercase;

	@media (--bp-m) {
		margin-bottom: 4rem;
	}
}

.highlight-statement-3col .card {

	@media (--bp-m) {
		width: 31%;
	}
}

.highlight-statement-3col .headline {
	color: var(--c-thunder);
	font-family: var(--f-body);
	font-size: 2.2rem;
	font-weight: 700;
	margin: 0 0 0.5rem;
}

.highlight-statement-3col .text {
	color: var(--c-thunder);
	margin-top: 0.5rem;
}
