.highlight-statement-2col {
	border-bottom: 0.2rem dotted var(--c-alto);
	display: flex;
	justify-content: space-between;
	margin-top: 3rem;
	padding-top: 2rem;

	@media (--bp-m) {
		margin-top: 4.2rem;
	}
}

.highlight-statement-2col .card {
	border-top: 0.2rem dotted var(--c-alto);
	padding: 1rem 0 5rem;
	width: 49%;
}

.highlight-statement-2col .headline {
	color: var(--c-thunder);
	font-family: var(--f-secondary);
	font-size: 1.6rem;
	font-weight: 400;
	text-transform: uppercase;
}

.highlight-statement-2col .text {

	@media (--bp-m) {
		font-size: 4.6rem;
		margin-top: 3rem;
	}
}
