.image-block {
	height: 0;
	margin-left: -1.8rem;
	margin-right: -1.8rem;
	overflow: hidden;
	padding-top: 126%;
	position: relative;
	width: auto;

	@media (--bp-m) {
		height: auto;
		margin-left: 0;
		margin-right: 0;
		padding-top: 0;
		width: 100%;
	}

	& img {
		display: block;
		height: auto;
		max-width: 100%;
		min-height: 100%;
		min-width: 100%;
		object-fit: cover;
		object-position: right;
		position: absolute;
		top: 0;

		@media (--bp-m) {
			min-height: 0;
			object-fit: none;
			object-fit: contain;
			object-position: center;
			position: relative;
			top: auto;
			width: 100%;
		}
	}
}

.post-layout .image-block {
	margin: 2rem 0;

	@media (--bp-l) {
		margin-left: 33.33%;
	}
}
