.menu-toggle {
	background-color: var(--c-black);
	background-image: url("../../assets/svg/menu-toggle-gray.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 26px;
	border: 0;
	border-radius: 50%;
	bottom: 2rem;
	height: 5.2rem;
	position: fixed;
	right: 2rem;
	width: 5.2rem;
	z-index: 20;

	@media (--bp-l) {
		background-color: transparent;
		bottom: auto;
		float: right;
		height: 4.6rem;
		position: sticky;
		top: 2rem;
	}

	@media (--bp-l) {
		right: 4rem;
	}

	&:hover {
		cursor: pointer;
	}
}

.home .menu-toggle {
	background-image: url("../../assets/svg/menu-toggle.svg");
}

.fixed-hero .menu-toggle {
	display: none;

	@media (--bp-l) {
		display: inline-block;
		position: sticky;
		top: 4rem;
	}
}

body.-menu-open .menu-toggle {
	background-color: transparent;
	background-image: url("../../assets/svg/menu-toggle-close.svg");
	background-size: 52px;
	z-index: 30;
}

.menu-toggle.-mobile {

	@media (--bp-l) {
		display: none;
	}
}

.close-menu {
	background-color: transparent;
	background-image: url("../../assets/svg/menu-toggle-close.svg");
	background-size: 52px;
	border: 0;
	display: none;
	height: 5.2rem;
	width: 5.2rem;

	@media (--bp-l) {
		display: inline-block;
	}

	&:hover {
		cursor: pointer;
	}
}
