.page-navigation {
	display: none;

	@media (--bp-m) {
		display: block;
		margin-left: auto;
		padding-left: 2.2rem;
		padding-top: 6.2rem;
		width: 52%;
	}
}

.page-navigation .title {
	color: var(--c-jumbo);
	font-family: var(--f-secondary);
	font-size: 2rem;
	font-weight: 400;
	margin-bottom: 0.5rem;
}

.page-navigation .navigation {
	display: flex;
	flex-flow: row wrap;
	font-size: 2rem;
	justify-content: flex-start;
	list-style-type: none;
	margin: 0;
	margin-left: -1rem;
	padding: 0;
}

.page-navigation .navigation li {
	margin-right: 0.8rem;
}

.page-navigation .navigation a {
	display: block;
	font-family: var(--f-secondary);
	padding: 1rem;
}

.page-navigation .navigation a[aria-current="page"] {
	color: var(--c-highlight);
}
