.panel-menu {
	background: var(--c-primary);
	color: var(--c-white);
	min-height: 100vh;
	padding: 2rem;
	position: fixed;
	right: -100%;
	top: 0;
	transform: translate3d(0, 0, 0);
	transition: transform 500ms ease;
	width: 100%;
	z-index: 20;

	@media (--bp-m) {
		right: -50rem;
		width: 50rem;
	}

	@media (--bp-l) {
		padding: 2rem 5rem;
		right: -74rem;
		width: 74rem;
	}

	@media (--bp-xl) {
		padding-top: 4rem;
	}
}

.panel-menu .header {
	align-items: start;
	margin-bottom: 2rem;

	@media (--bp-m) {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		margin-bottom: 8rem;
	}
}

.panel-menu .button {
	margin: 0;
}

.panel-menu .header .-external {
	display: none;

	@media (--bp-m) {
		display: inline-block;
	}
}

.panel-menu .logo {

	@media (--bp-m) {
		display: none;
	}

	& img {
		width: 25rem;
	}
}

.panel-menu.-open {
	height: 100vh;
	transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1);

	@media (--bp-m) {
		height: auto;
		transform: translate3d(calc(-50rem), 0, 0) scale3d(1, 1, 1);
	}

	@media (--bp-l) {
		transform: translate3d(calc(-74rem), 0, 0) scale3d(1, 1, 1);
	}
}

.panel-menu .social-links {
	display: flex;
	flex-flow: row wrap;
	list-style-type: none;
	margin: 2rem 0 0;
	padding: 0;
}

.panel-menu .social-links li {
	margin-right: 1rem;
}

.panel-menu .menucontainer {
	margin-top: 3rem;
}

.panel-menu .menu {
	display: flex;
	flex-flow: column;
	font-size: 1.8rem;
	list-style-type: none;
	margin: 0 0 0 -1rem;
	padding: 0;

	@media (--bp-m) {
		flex-flow: row wrap;
	}
}

.panel-menu .menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.panel-menu .menu > li {

	@media (--bp-m) {
		width: 50%;
	}
}

.panel-menu .menu a {
	color: var(--c-white);
	display: block;
	padding: 1rem;
}

.panel-menu .menu .sub-menu {
	margin-bottom: 1rem;

	@media (--bp-m) {
		margin-bottom: 3rem;
	}
}

.panel-menu .menu .sub-menu a {
	color: var(--c-highlight);
}

.panel-menu .search-form {
	position: relative;
}

.panel-menu .search-form .search-input {
	background: transparent;
	border: 0;
	border-bottom: 1px solid var(--c-white);
	color: var(--c-highlight);
	font-family: var(--f-secondary);
	font-size: 1.8rem;
	padding-bottom: 1.8rem;
	padding-right: 3rem;
	width: 100%;

	&::placeholder {
		color: var(--c-highlight);
	}
}

.panel-menu .search-form button[type="submit"] {
	background-color: transparent;
	background-image: url("../../assets/svg/magnifying-glass.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 22px;
	border: 0;
	height: 2.6rem;
	padding: 0;
	position: absolute;
	right: 0;
	top: -0.2rem;
	width: 3rem;

	&:hover {
		cursor: pointer;
	}
}

.panel-menu .footer {
	margin-top: 2rem;

	@media (--bp-m) {
		margin-top: 8rem;
	}
}

.panel-menu .footer .-external {

	@media (--bp-m) {
		display: none;
	}
}
