.personnel-grid.-extended {
	margin-top: 1rem;
}

.personnel-grid {
	border-top: 0.1rem dotted var(--c-alto);
}

.personnel-grid .sectiontitle {
	font-family: var(--f-secondary);
	font-size: 1.6rem;
	font-weight: 400;
	margin-bottom: 2.8rem;
	text-transform: uppercase;

	@media (--bp-m) {
		margin-bottom: 4rem;
		margin-top: 3rem;
	}
}

.personnel-grid .thumbnail {
	max-width: 32rem;
	overflow: hidden;
	padding-top: 100%;
	position: relative;

	@media (--bp-m) {
		max-width: none;
	}
}

.personnel-grid .thumbnail img {
	height: auto;
	min-height: 100%;
	min-width: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
}

.personnel-grid .grid {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	margin-left: -1rem;
	margin-right: -1rem;
}

.personnel-grid .card {
	border-bottom: 0.1rem dotted var(--c-jalto);
	margin-bottom: 2rem;
	max-width: 32rem;
	padding: 1rem;

	@media (--bp-s) {
		width: 50%;
	}

	@media (--bp-m) {
		border-bottom: 0;
		max-width: none;
		width: 33.33%;
	}
}

.personnel-grid.-extended .card {
	min-width: 100%;

	@media (--bp-m) {
		align-items: start;
		display: flex;
		flex-flow: row-wrap;
	}
}

.personnel-grid.-extended .card > * {

	@media (--bp-m) {
		width: 33.33%;
	}
}

.personnel-grid.-extended .thumbnail {

	@media (--bp-m) {
		padding-top: 33.33%;
	}
}

.personnel-grid.-extended .info {

	@media (--bp-m) {
		padding-left: 2rem;
	}
}

.personnel-grid .name {
	font-family: var(--f-body);
	font-size: 2.2rem;
	margin-bottom: 0.75rem;
}

.personnel-grid.-extended .name {

	@media (--bp-m) {
		margin-top: 0;
	}
}

.personnel-grid .title {
	color: var(--c-jumbo);
	font-family: var(--f-body);
	font-size: 2.2rem;
	font-style: italic;
	font-weight: 400;
	margin-bottom: 0.5rem;
	margin-top: 1rem;
}

.personnel-grid .company {
	font-family: var(--f-body);
	font-size: 2.2rem;
	font-weight: 400;
	margin-top: 1rem;
}

.personnel-grid.-extended .contact {

	@media (--bp-m) {
		padding-left: 2rem;
	}
}

.personnel-grid .bio p {
	font-size: 2.2rem;
}

.personnel-grid .contact p {
	font-size: 1.6rem;
}

.personnel-grid.-extended .contact p {
	font-size: 1.6rem;

	@media (--bp-m) {
		margin-top: 0;
	}
}

.page-wrap .personnel-grid:last-of-type {
	border-bottom: 0;
}
