.post-layout {
	max-width: 102.4rem;
	overflow: hidden;
	padding-top: 1rem;
	position: relative;

	@media (--bp-xl) {
		max-width: none;
		width: 100%;
	}

	&::before {
		border-top: 0.1rem dotted var(--c-alto);
		content: "";
		height: 0.1rem;
		left: 0;
		position: absolute;
		right: 0;
		top: 1rem;
	}
}

.post-layout .header {
	border-bottom: 1px dotted var(--c-jumbo);
	font-family: var(--f-secondary);
	font-size: 2.4rem;
	margin: 1rem auto;
	max-width: var(--site-max);
	order: 2;
	position: relative;
	width: 100%;

	@media (--bp-m) {
		border-bottom: 0;
		display: flex;
		flex-flow: row wrap;
		margin: 1rem auto 2rem;
		order: 0;
		padding-bottom: 5rem;
		width: 100%;
	}

	@media (--bp-xl) {
		padding-right: 25%;
	}

	&::after {
		border-top: 0.1rem dotted var(--c-alto);
		bottom: 0;
		content: "";
		height: 0.1rem;
		left: 0%;
		margin-left: -50vw;
		margin-right: -50vw;
		min-width: 100vw;
		position: absolute;
		right: 0%;
	}
}

.post-layout .inner {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: var(--site-max);
	padding: 0 2rem;
	width: 100%;

	@media (--bp-m) {
		flex-flow: row wrap;
	}

	@media (--bp-l) {
		padding: 0 4rem;
	}
}

.post-layout .main {
	margin: 0 auto 2rem;
	max-width: var(--site-max);
	width: 100%;

	@media (--bp-m) {
		display: flex;
		flex-flow: row wrap;
	}

	@media (--bp-xl) {
		margin-bottom: 4rem;
		padding-right: 25%;
	}

	& img {
		height: auto;
		max-width: 100%;
	}
}

.post-layout .title {
	color: var(--c-thunder);
	font-family: var(--f-secondary);
	font-size: 2.2rem;
	font-weight: 700;
	margin-bottom: 2.8rem;
	margin-top: 1rem;

	@media (--bp-m) {
		font-size: 3.4rem;
		width: 66.66%;
	}

	@media (--bp-xl) {
		font-size: 4.4rem;
	}
}

.post-layout .date {
	font-family: var(--f-secondary);
	font-weight: 700;
	margin: 1rem 0 0.5rem;

	@media (--bp-m) {
		font-size: 3.4rem;
		padding-right: 1rem;
		width: 33.33%;
	}

	@media (--bp-xl) {
		font-size: 4.4rem;
		padding-right: 2rem;
	}
}

.post-layout .thumbnail {
	margin-left: -1.8rem;
	margin-right: -1.8rem;
	order: 1;

	@media (--bp-m) {
		margin: 0;
		order: 0;
		position: relative;
		width: 66.66%;
	}

	& img {
		display: block;
		height: auto;
		width: 100%;
	}
}

.post-layout .byline {
	font-family: var(--f-secondary);
	font-size: 2rem;
	font-weight: 400;
	margin-top: 2rem;
	order: 3;

	@media (--bp-m) {
		margin-top: 0;
		order: 0;
		padding-right: 1rem;
		width: 33.33%;
	}

	@media (--bp-l) {
		padding-right: 2rem;
	}

	@media (--bp-xl) {
		padding-right: 4rem;
	}
}

.post-layout .byline p {
	font-family: var(--f-secondary);
	font-size: 2rem;
	margin-top: 0;
}

.post-layout .row {

	@media (--bp-m) {
		display: flex;
		flex-direction: column;
	}
}

.byline .button {
	max-width: 30rem;
	width: 100%;
}

.post-layout .row a {
	font-family: var(--f-secondary);
}

.post-layout .row span {
	color: var(--c-thunder);
	display: block;
}

.post-layout .row + .row {
	border-top: 1px dotted var(--c-alto);
	margin-bottom: 4rem;
	padding-top: 2rem;
}

.post-layout .content {
	order: 4;

	@media (--bp-m) {
		margin-top: 1rem;
		order: 0;
	}

	@media (--bp-l) {
		padding-left: 33.33%;
		width: 100%;
	}
}
