/* Primary Navigation */
.primary-navigation {

	@media (--bp-l) {
		background: var(--c-white);
		height: 8.2rem;
		position: sticky;
		top: 0;
		width: 100%;
		z-index: 20;
	}
}

.home .primary-navigation {
	display: none;

	@media (--bp-l) {
		display: flex;
		height: 6.1rem;
	}
}

.admin-bar .primary-navigation {
	top: 32px;

	@media (--wp-medium-max) {
		top: 64px;
	}
}

.primary-navigation .inner {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin: 0 auto;
	max-width: var(--site-max);
	padding: 1.6rem 2rem;
	width: 100%;

	@media (--bp-l) {
		padding: 1rem 4rem 1rem;
	}
}

.primary-navigation .logo {

	@media (--bp-l) {
		width: 40%;
	}

	& img {
		display: block;
		width: 25rem;

		@media (--bp-xl) {
			width: 30rem;
		}
	}
}

.home .primary-navigation .logo img {

	@media (--bp-l) {
		width: 30rem;
	}

	@media (--bp-xl) {
		width: 54rem;
	}
}

.primary-navigation .current_page_item,
.primary-navigation .current-page-ancestor {
	position: relative;

	&::after {

		@media (--bp-m) {
			background: var(--c-jumbo);
			bottom: -0.3rem;
			content: "";
			display: inline-block;
			height: 0.2rem;
			left: 1.6rem;
			position: absolute;
			right: 1.6rem;
		}
	}
}

.primary-navigation .menucontainer {
	display: none;
	width: calc(60% - 6rem);

	@media (--bp-l) {
		display: flex;
	}

	@media (--bp-xl) {
		width: calc(35% + 6rem);
	}
}

.primary-navigation .menu {
	display: flex;
	flex-flow: row wrap;
	list-style-type: none;
	margin: auto 0;
	padding: 0;
}

.primary-navigation .menu a {
	display: block;
	font-family: var(--f-secondary);
	font-size: 1.8rem;
	font-weight: 400;
	padding: 1rem 2.2rem;
	text-transform: uppercase;
}

.primary-navigation .menu li:last-of-type a {
	color: var(--c-orange);
}

.home .primary-navigation .logo {
	display: none;

	@media (--bp-m) {
		display: block;
	}
}
