/* Recent Posts */
.recent-posts {
	font-family: var(--f-secondary);
	font-weight: 400;
	margin: 0;
	overflow: hidden;
	padding: 0;

	@media (--bp-m) {
		border-top: dotted 1px var(--c-alto);
	}
}

.stat-cards + .recent-posts {

	@media (--bp-m) {
		border-top: 0;
	}
}

.recent-posts .heading {
	margin-top: 2rem;

	@media (--bp-s) {
		display: flex;
		justify-content: space-between;
	}
}

.recent-posts .sectiontitle {
	color: var(--c-thunder);
	font-family: var(--f-secondary);
	font-size: 1.6rem;
	font-weight: 400;
	margin-top: 0;
}

.recent-posts .viewall {
	color: var(--c-primary);
	font-size: 1.6rem;
	font-weight: 700;
	letter-spacing: 0.1rem;

	&::after {
		background-image: url("../../assets/svg/right-arrow.svg");
		background-repeat: no-repeat;
		background-size: 1.6rem;
		content: "";
		display: inline-block;
		height: 1.2rem;
		margin-left: 0.5rem;
		width: 2rem;
	}
}

.recent-posts .grid {
	margin-top: 1rem;

	@media (--bp-m) {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		margin-left: -1rem;
		margin-right: -1rem;
		margin-top: 3.4rem;
	}
}

.recent-posts .post {
	display: block;
	margin-bottom: 6rem;

	@media (--bp-m) {
		padding: 0 1rem;
		width: 33.33%;
	}
}

.recent-posts .thumbnail {
	height: 0;
	overflow: hidden;
	padding-bottom: 75%;
	position: relative;

	& img {
		height: auto;
		min-height: 100%;
		min-width: 100%;
		object-fit: cover;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

.recent-posts .excerpt {
	font-size: 2.2rem;

	@media (--bp-l) {
		margin-top: 3rem;
	}
}

.recent-posts .title,
.recent-posts .date {
	font-family: var(--f-secondary);
	font-size: 1.8rem;
	font-weight: 400;

	& a {
		font-family: var(--f-secondary);
		font-weight: 400;
	}
}

.recent-posts .title {
	color: var(--c-thunder);
	margin-bottom: 0.5rem;

	@media (--bp-l) {
		margin-top: 4.2rem;
	}

	& a {
		color: var(--c-thunder);
	}
}

.recent-posts .date {
	color: var(--c-text-primary);
}

.hero-lead + .recent-posts {
	border-top: 0.1rem dotted var(--c-alto);
}
