.recent-posts-grid {
	border-top: 1px dotted var(--c-alto);
	margin-top: 4rem;
	padding-top: 3rem;
}

.recent-posts-grid .heading {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.recent-posts-grid .sectiontitle {
	color: var(--c-thunder);
	font-family: var(--f-secondary);
	font-size: 1.6rem;
	font-weight: 400;
	margin-top: 0;
}

.recent-posts-grid .viewall {
	color: var(--c-primary);
	font-size: 1.6rem;
	font-weight: 700;
	letter-spacing: 0.1rem;

	&::after {
		background-image: url("../../assets/svg/right-arrow.svg");
		background-repeat: no-repeat;
		background-size: 1.6rem;
		content: "";
		display: inline-block;
		height: 1.2rem;
		margin-left: 0.5rem;
		width: 2rem;
	}
}

.recent-posts-grid .grid {

	@media (--bp-s) {
		display: flex;
		flex-flow: row wrap;
		margin-left: -1rem;
		margin-right: -1rem;
	}
}

.recent-posts-grid .post {
	border-bottom: 1px dotted var(--c-alto);
	margin-bottom: 2rem;
	padding-bottom: 2rem;

	@media (--bp-s) {
		margin: 1rem;
		width: calc(50% - 2rem);
	}

	@media (--bp-m) {
		display: flex;
		flex-flow: row wrap;
		padding-bottom: 4rem;
		padding-top: 2rem;
	}

	&:last-of-type {
		border-bottom: 0;

		@media (--bp-m) {
			border-bottom: 1px dotted var(--c-alto);
		}
	}
}

.recent-posts-grid .thumbnail {
	display: block;
	height: 0;
	overflow: hidden;
	padding-bottom: 100%;
	position: relative;
	width: 100%;

	@media (--bp-m) {
		padding-bottom: 31.3%;
		width: 31.39%;
	}

	& img {
		display: block;
		height: auto;
		max-width: 100%;
		min-height: 100%;
		min-width: 100%;
		object-fit: cover;
		position: absolute;
		top: 0;
	}
}

.recent-posts-grid .info {
	font-size: 1.8rem;
	margin-top: 2rem;

	@media (--bp-m) {
		margin-top: 0;
		padding-left: 2rem;
		width: 68.61%;
	}

	@media (--bp-l) {
		padding-left: 3rem;
	}
}

.recent-posts-grid .title {
	font-weight: 400;
	margin-bottom: 0.5rem;

	@media (--bp-m) {
		margin-top: 0;
	}

	& a {
		color: var(--c-thunder);
	}
}

.recent-posts-grid .date {
	color: var(--c-jumbo);
	font-family: var(--f-headline);
}

.recent-posts-grid .excerpt {
	margin-top: 3rem;
}

.recent-posts-grid .excerpt p {
	margin-bottom: 0;
}
