.content,
.rich-text {

	& p a {
		font-family: var(--f-body);
		font-size: 2.2rem;
	}

	& ol,
	& ul {
		color: var(--c-text-primary);
		font-size: 2.2rem;
	}

	& li {
		margin-bottom: 1.5rem;
	}
}

.rich-text {
	margin: 0;
}

.rich-text p {
	font-size: 2.2rem;
}

.post-layout .rich-text {

	@media (--bp-l) {
		margin-left: 33.33%;
	}
}
