.search-form {
	position: relative;
}

.search-form .search-input {
	background: transparent;
	border: 0;
	border-bottom: 1px solid var(--c-primary);
	color: var(--c-primary);
	font-family: var(--f-secondary);
	font-size: 1.8rem;
	padding-bottom: 1.8rem;
	padding-right: 3rem;
	width: 100%;
}

.search-form button[type="submit"] {
	background-color: transparent;
	background-image: url("../../assets/svg/magnifying-glass.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 22px;
	border: 0;
	height: 2.6rem;
	padding: 0;
	position: absolute;
	right: 0;
	top: -0.2rem;
	width: 3rem;

	&:hover {
		cursor: pointer;
	}
}
