.search-results .query {
	margin: 4rem 0;

	& span {
		font-style: italic;
	}
}

.search-results .grid {
	list-style-type: none;
	margin: 2rem 0;
	padding: 0;

	@media (--bp-m) {
		display: flex;
		flex-flow: row wrap;
		margin-left: -1rem;
		margin-right: -1rem;
	}
}

.search-results .card {
	padding: 1rem;

	@media (--bp-m) {
		width: 25%;
	}
}

.search-results .thumbnail {
	display: block;
	height: 0;
	overflow: hidden;
	padding-bottom: 100%;
	position: relative;
	width: 100%;

	@media (--bp-m) {
		padding-bottom: 66.3%;
	}

	& img {
		display: block;
		height: auto;
		max-width: 100%;
		min-height: 100%;
		min-width: 100%;
		object-fit: cover;
		position: absolute;
		top: 0;
	}
}

.search-results .title,
.search-results .date {
	font-family: var(--f-secondary);
	font-size: 1.8rem;
	font-weight: 400;

	& a {
		font-family: var(--f-secondary);
		font-weight: 400;
	}
}

.search-results .title {
	color: var(--c-thunder);
	margin-bottom: 0.5rem;

	@media (--bp-l) {
		margin-top: 4.2rem;
	}

	& a {
		color: var(--c-thunder);
	}
}
