/* Site Footer */
.site-footer {
	background: var(--c-bg-secondary);
	position: relative;
	transform: translate3d(0, 0, 0);
	z-index: 5;
}

.site-footer .wrap {
	margin: 0 auto;
	max-width: var(--site-max);
	padding: 3rem 1.8rem;

	@media (--bp-l) {
		padding: 3rem 4rem;
	}
}

.site-footer .logo img {
	width: 26rem;
}

.site-footer p {
	color: var(--c-boulder);
	font-family: var(--f-body);
	font-size: 1.8rem;
	line-height: 1.4;
}

.site-footer .signup p {
	color: var(--c-thunder);
	font-family: var(--f-secondary);
	font-size: 2rem;
	font-weight: 700;

	@media (--bp-m) {
		margin-top: 1.6rem;
	}
}

.site-footer .address {
	color: var(--c-boulder);
	font-family: var(--f-body);
	font-size: 1.8rem;
	line-height: 1.4;
	margin: 3rem 0;
}

.site-footer .address a {
	color: var(--c-boulder);
	font-family: var(--f-body);
	font-weight: 400;
}

.site-footer .social-links {
	display: flex;
	flex-flow: row wrap;
	list-style-type: none;
	margin: 3rem 0;
	padding: 0;

	@media (--bp-m) {
		margin-left: 0;
		margin-top: 0;
	}
}

.site-footer .social-links li {
	margin-right: 1rem;
}

.site-footer .social-links img {
	display: block;
}

.site-footer .upper {

	@media (--bp-m) {
		display: flex;
		flex-flow: row wrap;
	}
}

.site-footer .col {

	@media (--bp-m) {
		width: 33.33%;
	}
}

.site-footer .lower {
	display: flex;
	flex-flow: column;

	@media (--bp-m) {
		flex-flow: row wrap;
	}
}

.site-footer .right {
	order: 0;

	@media (--bp-m) {
		display: flex;
		margin-left: auto;
		order: 2;
		width: 33.33%;
	}
}

.site-footer .left {
	order: 2;

	@media (--bp-m) {
		order: 0;
		width: 50%;
	}
}

.site-footer .left p {

	@media (--bp-m) {
		margin-top: 0;
	}
}

.site-footer .left .menu {
	display: flex;
	flex-flow: row wrap;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.site-footer .left .menu a {
	color: var(--c-boulder);
	font-family: var(--f-body);
	font-size: 1.8rem;
	line-height: 1.4;
	margin-right: 2rem;
}
