/* Stats Cards */
.stat-cards {
	display: flex;
	flex-flow: column wrap;
	margin: 0;
	padding: 0;

	@media (--bp-m) {
		border-bottom: dotted 1px var(--c-alto);
		border-top: dotted 1px var(--c-alto);
		flex-flow: row wrap;
		justify-content: space-between;
		margin-top: 4rem;
	}
}

.stat-cards .card {
	border-bottom: dotted 1px var(--c-alto);
	padding: 10rem 0.5rem 10rem;
	text-align: center;
	width: 100%;

	@media (--bp-m) {
		border-bottom: 0;
		padding-bottom: 5.6rem;
		width: 23%;
	}
}

.stat-cards p {
	font-family: var(--f-headline);
}

.stat-cards .figure {
	color: var(--c-primary);
	font-size: 5.6rem;
	margin-bottom: 3rem;
	margin-top: 0;

	@media (--bp-xl) {
		font-size: 9.6rem;
	}
}

.stat-cards .description {
	color: var(--c-jumbo);
	font-family: var(--f-secondary);
	font-size: 1.6rem;
	font-weight: 400;
	margin: 0;
	text-transform: uppercase;

	@media (--bp-m) {
		font-size: 2rem;
	}
}
