.sticky-hero {
	display: flex;
	flex-flow: column;
	height: 100vh;
	padding: 1.8rem 1.6rem;
	position: sticky;
	top: 0;
	width: 100%;
}

.sticky-hero .logo {
	position: relative;
	z-index: 2;
}

.sticky-hero .tagline {
	font-size: 6.4rem;
	margin-bottom: 0;
	margin-top: auto;
	position: relative;
	z-index: 2;
}

.sticky-hero span {
	font-size: 7.2rem;
	font-style: italic;
}

.sticky-hero .background {
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 0;
}

.sticky-hero .background img {
	display: block;
	height: auto;
	max-width: 100%;
	min-height: 100%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 0;
}
