/* Text Hero */

.text-hero {
	padding: 7.2rem 0;

	@media (--bp-xl) {
		padding: 20rem 0;
	}
}

.text-hero p {
	font-size: 2.4rem;
	margin: 0 auto;
	text-align: center;

	@media (--bp-m) {
		font-size: 4rem;
		max-width: 80%;
	}

	@media (--bp-xl) {
		max-width: 94rem;
	}
}
