.upcoming-events {
	border-top: 1px dotted var(--c-alto);
	margin: 2rem 0;
	overflow: hidden;
	padding: 2rem 0;
}

.upcoming-events .heading {
	display: flex;
	justify-content: space-between;
}

.upcoming-events .sectiontitle {
	color: var(--c-thunder);
	font-family: var(--f-secondary);
	font-size: 1.6rem;
	font-weight: 400;
	margin-top: 0;
}

.upcoming-events .viewall {
	color: var(--c-primary);
	font-size: 1.6rem;
	font-weight: 700;
	letter-spacing: 0.1rem;

	&::after {
		background-image: url("../../assets/svg/right-arrow.svg");
		background-repeat: no-repeat;
		background-size: 1.6rem;
		content: "";
		display: inline-block;
		height: 1.2rem;
		margin-left: 0.5rem;
		width: 2rem;
	}
}

.upcoming-events .grid {
	position: relative;

	@media (--bp-m) {
		display: flex;
		flex-flow: row wrap;
		margin: 0 -1rem;
	}

	@media (--bp-l) {
		margin: 0 -2.4rem;
	}
}

.upcoming-events .grid.-decorator::after {

	@media (--bp-m) {
		background: transparent;
		border-top: 1px dotted var(--c-alto);
		bottom: 50%;
		content: "";
		display: block;
		height: 1px;
		left: 1rem;
		position: absolute;
		right: 1rem;
		transform: translateY(50%);
	}

	@media (--bp-l) {
		left: 2rem;
		right: 2rem;
	}
}

.upcoming-events .event {
	border-bottom: 1px solid var(--c-alto);
	display: flex;
	flex-direction: column;
	font-size: 2rem;
	margin-bottom: 8rem;
	padding-bottom: 6rem;
	text-align: left;

	@media (--bp-m) {
		border-bottom: 0;
		border-right: 1px solid var(--c-alto);
		margin: 6rem 0;
		min-height: 16rem;
		padding: 0 1rem;
		width: 25%;
	}

	@media (--bp-l) {
		padding: 0 2.4rem;
	}

	&:last-of-type {
		border-bottom: 0;
		margin-bottom: 0;

		@media (--bp-m) {
			margin: 6rem 0;
		}
	}

	&:nth-of-type(4n) {

		@media (--bp-m) {
			border-right: 0;
		}
	}

	&:nth-of-type(8n) {

		@media (--bp-m) {
			border-right: 0;
		}
	}
}

.upcoming-events .title {
	margin-top: 0;

	& a {
		color: var(--c-thunder);
		font-family: var(--f-secondary);
		font-weight: 700;
	}
}

.upcoming-events .date {
	color: var(--c-text-primary);
	font-family: var(--f-secondary);
	font-weight: 700;
	margin-bottom: 0.5rem;
}

.upcoming-events .location {
	margin-top: 6rem;
	padding-bottom: 0.5rem;

	@media (--bp-m) {
		margin-top: auto;
	}
}

.upcoming-events .location p {
	font-family: var(--f-secondary);
	font-size: 1.4rem;
	margin: 0;
}

.recent-posts-grid + .upcoming-events {
	border-top: 0;
	margin-top: 0;
}
