.wp-block-gallery {
	margin-bottom: 4rem;
	margin-top: 4rem;
}

.wp-block-gallery .blocks-gallery-grid {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0 0 -1.6rem 0;
	padding: 0;
}

.wp-block-gallery .blocks-gallery-item {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	position: relative;
}

.wp-block-gallery figure {
	align-items: flex-end;
	display: flex;
	height: 100%;
	justify-content: flex-start;
	margin: 0;
}

.wp-block-gallery.is-cropped .blocks-gallery-item img {
	display: block;
	flex: 1;
	height: 100%;
	max-width: 100%;
	object-fit: cover;
	width: 100%;
}

.wp-block-gallery.columns-2 .blocks-gallery-item {

	@media (--bp-m) {
		margin-right: 16px;
		width: calc((100% - 3.2rem) / 2);
	}
}

.wp-block-gallery.columns-3 .blocks-gallery-item {

	@media (--bp-m) {
		margin-right: 16px;
		width: calc((100% - 3.2rem) / 3);
	}
}

.wp-block-gallery.columns-4 .blocks-gallery-item {

	@media (--bp-m) {
		margin-right: 1.6rem;
		width: calc((100% - 4.8rem) / 4);
	}
}

.wp-block-gallery.columns-5 .blocks-gallery-item {

	@media (--bp-m) {
		margin-right: 1.6rem;
		width: calc((100% - 6.4rem) / 5);
	}
}


.wp-block-gallery.columns-6 .blocks-gallery-item {

	@media (--bp-m) {
		margin-right: 16px;
		width: calc((100% - 8rem) / 6);
	}
}

.wp-block-gallery.columns-7 .blocks-gallery-item {

	@media (--bp-m) {
		margin-right: 1.6rem;
		width: calc((100% - 9.6rem) / 7);
	}
}

.wp-block-gallery.columns-8 .blocks-gallery-item {

	@media (--bp-m) {
		margin-right: 1.6rem;
		width: calc((100% - 11.2rem) / 8);
	}
}
