/* Main Wrap */
.main-wrap {
	background: var(--c-white);
	margin-top: 0;
	padding-bottom: 2rem;
	position: relative;
	z-index: 10;

	@media (--bp-l) {
		padding-bottom: 4rem;
	}
}

.main-wrap > .wrap {
	background: var(--c-white);
	position: relative;

	@media (--bp-m) {
		margin: 0 auto;
	}
}
