.inner-wrap {
	left: 0;
	min-height: 100vh;
	transform: translate3d(0, 0, 0);
	transition: transform 500ms ease;

	@media ( --bp-mlarge ) {
		transform: translate3d(0%, 0, 0);
	}
}

.off-canvas-right .inner-wrap {
	transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1);

	@media ( --bp-mlarge ) {
		transform: translate3d(0%, 0, 0);
	}
}
