.page-wrapper {
	background: var(--c-white);
	position: relative;
	z-index: 10;
}

.page-wrapper .inner {
	margin: 0 auto;
	max-width: var(--site-max);
	padding: 0 2rem;

	@media (--bp-l) {
		padding: 0 4rem;
	}
}

.page-wrapper .inner.-narrow {
	max-width: 66.9rem;

	@media (--bp-m) {
		padding: 4rem 0;
	}

	@media (--bp-l) {
		padding: 8.6rem 0;
	}
}
