.page-footer {
	background-color: var(--c-white);
	border-top: 0.2rem solid var(--c-alto);
	margin-top: 0;
	padding-top: 2rem;
	position: relative;

	@media (--bp-l) {
		padding-top: 4rem;
	}
}

.page-footer .inner {
	margin: 0 auto;
	max-width: var(--site-max);
	padding: 0 2rem;

	@media (--bp-l) {
		padding: 0 4rem;
	}
}
