.two-column {
	margin: 2rem 0;

	@media (--bp-m) {
		display: flex;
		flex-flow: row-wrap;
		margin: 4rem 0;
	}
}

.two-column > .image {

	@media (--bp-m) {
		width: 48%;
	}
}

.two-column > .content {

	@media (--bp-m) {
		padding-left: 2rem;
		width: 52%;
	}
}

.two-column.right > .image {

	@media (--bp-m) {
		order: 2;
		padding-left: 2rem;
		width: 52%;
	}
}

.two-column.right > .content {

	@media (--bp-m) {
		order: 1;
		padding-left: 0;
		width: 48%;
	}
}
