.button {
	background-color: var(--c-primary);
	border: 0.1rem solid var(--c-primary);
	display: inline-block;
	font-family: var(--f-secondary);
	font-size: 1.4rem;
	font-weight: 400;
	letter-spacing: 0.1rem;
	margin-bottom: 1rem;
	margin-right: 1rem;
	padding: 1.7rem 4rem;

	&:hover {
		cursor: pointer;
	}
}

.button.-outline {
	background-color: transparent;
	border-color: var(--c-white);
	color: var(--c-white);
	text-transform: uppercase;
}

.button.-external {
	background-image: url("../../assets/svg/external-link.svg");
	background-position: center right 12px;
	background-repeat: no-repeat;
	padding-left: 2rem;
	padding-right: 12rem;
	text-align: left;
}

.button.-arrow {
	background-image: url("../../assets/svg/arrow-link-white.svg");
	background-position: center right 12px;
	background-repeat: no-repeat;
	color: var(--c-white);
	padding-left: 2rem;
	padding-right: 8rem;
	text-align: left;

	@media (--bp-m) {
		padding-right: 12rem;
	}
}

.button.-arrow-secondary {
	background-color: var(--c-orange);
	background-image: url("../../assets/svg/arrow-link-white.svg");
	background-position: center right 12px;
	background-repeat: no-repeat;
	border-color: var(--c-orange);
	color: var(--c-white);
	padding-left: 2rem;
	padding-right: 8rem;
	text-align: left;
	text-transform: uppercase;

	@media (--bp-m) {
		padding-right: 12rem;
	}
}

.button.-arrow-tertiary {
	background-color: transparent;
	background-image: url("../../assets/svg/arrow-link-orange.svg");
	background-position: center right 12px;
	background-repeat: no-repeat;
	border-color: var(--c-orange);
	color: var(--c-orange);
	padding-left: 2rem;
	padding-right: 8rem;
	text-align: left;

	@media (--bp-m) {
		padding-right: 12rem;
	}
}

.button.-plus {
	background-color: var(--c-white);
	background-image: url("../../assets/svg/plus-link.svg");
	background-position: center right 12px;
	background-repeat: no-repeat;
	padding-left: 2rem;
	padding-right: 8rem;
	text-align: left;

	@media (--bp-m) {
		padding-right: 12rem;
	}
}
