/*
 * Media Queries
 */
@custom-media --bp-xs (min-width: 25em); /* 400px */
@custom-media --bp-s (min-width: 30em); /* 480px */
@custom-media --bp-m (min-width: 48em); /* 768px */
@custom-media --bp-l (min-width: 64em); /* 1024px */
@custom-media --bp-xl (min-width: 80em); /* 1280px */
@custom-media --bp-2xl (min-width: 90em); /* 1440px */

/* WP Core Breakpoints (used for the admin bar for example) */
@custom-media --wp-small (min-width: 600px);
@custom-media --wp-medium-max (max-width: 782px);
