/*
 * Typography
 */

html {
	font-size: 62.5%;
}

p {
	color: var(--c-text-primary);
	font-family: var(--f-body);
	font-size: 2.2rem;
	line-height: 1.3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--f-headline);

	& p {
		font-family: var(--f-headline);
	}
}

h1 {
	margin-top: 0;
}

h2 {
	font-size: 4.4rem;
	margin-top: 0;
}

h3 {
	font-size: 2rem;
	font-weight: 700;
}

h4 {
	color: var(--c-jumbo);
	font-size: 2rem;
	font-weight: 400;
}

h5 {
	color: var(--c-jumbo);
	font-family: var(--f-body);
	font-weight: 400;
}

h6 {
	font-size: 1.8rem;
}

.page-title {
	margin: 2rem 0;

	@media (--bp-m) {
		margin: 4rem 0;
	}
}
