:root {

	/* Typography */
	--f-garamound: "adobe-garamond-pro";
	--f-neue-display: "neue-haas-grotesk-display";
	--f-neue-text: "neue-haas-grotesk-text";

	--f-body: var(--f-garamound);
	--f-headline: var(--f-neue-display);
	--f-secondary: var(--f-neue-text);

	--c-button-primary: var(--c-primary);

	/*
	* Colors
	* Named with: http://chir.ag/projects/name-that-color/
	*/
	--c-black: #000;
	--c-white: #fff;

	--c-endeavour: #004b9c;
	--c-cerulean: #00adf3;
	--c-onahau: #ccf0ff;
	--c-orange: #ff5a27;

	--c-codgray: #111;
	--c-thunder: #241e20;
	--c-jumbo: #818285;
	--c-concrete: #f3f3f3;
	--c-boulder: #777;
	--c-another-gray: #707070;
	--c-emperor: #555;
	--c-alto: #d3d3d3;

	--c-primary: var(--c-endeavour);
	--c-highlight: var(--c-cerulean);

	--c-text-primary: var(--c-jumbo);
	--c-link: var(--c-primary);

	--c-headline-primary: var(--c-codgray);

	--c-button-primary: var(--c-primary);
	--c-button-secondary: var(--c-orange);

	--c-bg-primary: var(--c-primary);
	--c-bg-secondary: var(--c-concrete);

	/* Sizes */
	--site-max: 146.7rem;
}
